.minhaModal{
  width: 300px;
  height: 150px;
  border: solid 1px gray;
  text-align: center;
  position: fixed;
  top: 300px;
  left: 500px;
  background-color: honeydew;
}



.cardsLivros:hover{
  box-shadow: 10px 10px 10px rgba(160, 163, 189, 0.25);
cursor: pointer;

}


