<div class="container w-50 mt-5" style="height: 70vh;">
  <h2 class="text-center text-danger">Edição de Livros</h2>
  <div class="col ">
    <form action="">

      <div class="mb-1 ">
        <label for="" class="form-label">Nome do Livro </label>
        <input type="text" [(ngModel)]="livro.nome" class="form-control" name="nomeLivro">

      </div>

      <div class="mb-1 ">
        <label for="" class="form-label">Autor </label>
        <input type="text" [(ngModel)]="livro.autor" class="form-control" name="autor">

      </div>

      <div class="mb-1 ">
        <label for="" class="form-label">Foto </label>
        <input type="text" [(ngModel)]="livro.foto" class="form-control" name="foto">

      </div>

      <div class="mt-3">
        <button class="btn btn-success" (click)="modificar()"><i class="bi bi-pencil"></i></button>
        <button type="reset" class="btn btn-danger mx-3"><i class="bi bi-eraser"></i></button>

      </div>

    </form>

  </div>

</div>
